<%- content_for :javascript do %>
  <%= javascript_tag "backend/spree_product_assembly" %>
<%- end %>

<%= render :partial => 'spree/admin/shared/sub_menu/product' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Parts"} %>
<div id="product_parts" data-product-slug="<%= product.slug %>">
  <%= render :partial => "parts_table", :locals => {:parts => @parts} %>
</div>

<%= form_tag('#') do %>
  <label><%= Spree.t(:search) %>:</label>
  <div class="input-group">
    <input id="searchtext" size="25" class="form-control">
    <span class="input-group-btn">
      <button id="search_parts_button" class="fa fa-search btn btn-search" name="button">
        Search
      </button>
    </span>
  </div>
<% end %>

<br/>
<div id="search_hits"></div>
